#backtotop {
	height: 50px;
	position: fixed;
	bottom: 55px;
	right: -60px;
	z-index: 9999;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	cursor: pointer;
}

#backtotop.showme {
	right: 12px;
	-moz-transform: scale(1) rotate(-360deg) translate(0px);
	-webkit-transform: scale(1) rotate(-360deg) translate(0px);
	-o-transform: scale(1) rotate(-360deg) translate(0px);
	transform: scale(1) rotate(-360deg) translate(0px);
}

#backtotop .bttbg {
	width: 50px;
	height: 50px;
	background:
		url(/resource/site/img/top_button.png)
		no-repeat 0 0;
}

#backtotop .bttbg:hover {
	background-position: left bottom;
}

.resumeRow {
	width: 100%;
	margin: 0 auto 30px;
	height: 250px;
	background: #fff;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
}

.resumeRow .row {
	padding: 15px 20px 0 75px;
}

.resumeRow .row span {
	line-height: 40px;
}

.wrap {
	min-height: 500px;
}

.footer,footer {
	border-top: 1px solid #eee;
}
.item-form-container{
	margin-top: 35px;
}

.item-form {
	background-color: #E5E5E5;
	width: 100%;
	border-radius: 6px;
	padding: 30px;
	margin-bottom: 30px;
}

.resume-items li{
	cursor:pointer;
	color: #666666;
	background-color: #E5E5E5;
	margin-bottom: 10px;
	font-family: 'Pontano Sans',HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande";
}
.resume-items li .linkbutton{
	float:right;
}


.resume-items li:hover{
background-color: #eeefca;
}

.f-left{
	float: left !important;
	padding-left: 15px !important;
}

.item-bar {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
	margin-bottom: 20px;
}

.item-bar div {
	height: 35px;
	line-height: 35px;
}

.item-bar:hover {
	background-color: #F5F5F5;
}



/*resume build page*/
/*for step processing*/
.resume_step {
	display: none;
}

.progress_bar {
	font-family: 'Futura Today', Helvetica, Arial, "Lucida Grande",
		sans-serif;
	font-size: 18px;
	height: 45px;
	line-height: 45px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
}

#progress_bar_1, #progress_bar_2 {
	border-right: 1px dashed #fff;
}

.progress_bar-normal {
	background-color: #e5e5e5;
	color: #ccc;
	text-align: center;
	cursor: pointer;
	height: 45px;
	line-height: 45px;
}

.progress_bar-normal:hover {
	color: #fff;
}

.progress_bar-active {
	cursor: auto;
	color: #fff;
	font-size: 22px;
}

/*for % processing*/
#step-control {
	font-family: 'Futura Today', Helvetica, Arial, "Lucida Grande",
		sans-serif;
	font-size: 18px;
	height: 45px;
	line-height: 45px;
}

#step-control div {
	cursor: pointer;
}

#progress-bar-div {
	line-height: 45px;
	margin-top: 13px;
}

#last-step {
	background-color: #e5e5e5;
	color: #ccc;
}

#next-step {
	background-color: #fec503;
	color: #fff;
}

/* box */
.box-bottom {
	width: 180px;
	background: #fec503;
	text-align: center;
}

.show-item {
	
}

.show-item img {
	width: 180px;
	height: 180px;
	border: 1px solid #ddd;
}

.box-bottom a {
	width: 180px;
	line-height: 35px;
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 14px;
	color: white;
	font-weight: 700;
	text-align: center;
}

.box-bottom a:hover {
	color: #eee;
	text-decoration: none;
}

.div-center {
	
}

media        ="screen       " .ladda-button {
	-webkit-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all
		!important;
	-moz-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all
		!important;
	-ms-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all
		!important;
	-o-transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all
		!important;
	transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
}

/*resume build page over*/